---
import GridLayout from "./GridLayout.astro"; 
---
<GridLayout>
  <div class="contents middle-subgrid">
    <slot/>
  </div>
</GridLayout>

<style is:global>
.middle-subgrid > p,
.middle-subgrid > .middle-text,
.middle-subgrid > div.middle-center {
  @apply col-span-6 2xl:col-span-8 col-start-3 2xl:col-start-4;
}
.middle-subgrid > div.middle-full {
  @apply col-span-full;
}
</style>

