---
import chaptersConfig from '../../../chapters-config';
import fetchDoc from "../../fetch/google-doc" 

const params = Astro.params;
 
export function getStaticPaths() {
  return Object.keys(chaptersConfig).map(chapter => ({ params: { chapter } }));
}

const chapterConfig = chaptersConfig[params.chapter];

const { title, body, footnotes} = await fetchDoc(chapterConfig.doc);

---
<div>
  {title}
</div>
