---
import Chapter from '../../components/Chapter.astro';
import TestSimple from '../../components/global/TestSimple.vue';
---
<Chapter name="sandbox">

  <div slot="mySlot"> 
    Chapter Slot! hi
    <TestSimple client:idle/>
  </div>

</Chapter>