---
import type { ContentData, ProcessedContent } from "google-docs-components";
import RenderContent from './RenderContent.astro';

export interface Props {
  content: ProcessedContent,
  slots: { [key: string]: string}
  vueComponents?: { [key: string]: any },
  astroComponents?: { [key: string]: any },
  tableComponent?: Object | false,
  inlineSlotFormat?: RegExp,
  ignoreCSS?: string[],
}

const { content, slots, components, tableComponent, ignoreCSS } = Astro.props;

// const astroComponentFiles = (await Astro.glob("./global/astro/*.astro"));

---
<div>
  {content.map(c => <RenderContent {...Astro.props} content={c} />)}
</div>
