---
import type { ContentData, ProcessedContent } from "google-docs-components";
import RenderContent from './RenderContent.astro';

export interface Props {
  content: ProcessedContent,
  vueComponents?: { [key: string]: any },
  tableComponent?: Object | false,
  inlineSlotFormat?: RegExp,
  ignoreCSS?: string[],
}

const { content, components, tableComponent, inlineSlotFormat = /\[\^(\d*[a-zA-z]+\d*)\](?:(.+)\[\/\1\])*/g, ignoreCSS } = Astro.props;

// const astroComponentFiles = (await Astro.glob("./global/astro/*.astro"));
---
<div>
  {content.map(c => <RenderContent {...Astro.props} content={c} />)}
</div>
