---
import TestAstro from "../components/global/astro/TestAstro.astro"
const slots = ["name"];
const dyn = {t: TestAstro}

const isTrue = false;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<TestAstro>
			<!-- {isTrue && <p slot="name">Dan</p>} -->
		</TestAstro>
	</body>
</html>