---
---
<div class="border border-red-500">
  This is an Astro component
  <div class="font-bold"> Default slot
    <slot/>
  </div>
  <div>Named slot 
    <slot name="name"/>
  </div>
  <div>
    Validprop: {Astro.props.validProp}
  </div>
</div>