---
import RenderNamedSlot from "../../page/docs-renderer/RenderNamedSlot.astro";
---
<div class="border border-red-500">
  This is an Astro component
  <slot/>
  <div>Named slot 
    <RenderNamedSlot slot={Astro.props.namedSlots.name} />
  </div>
  <div>
    Validprop: {Astro.props.validProp}
  </div>
</div>