@font-face {
  font-family: "VTC William";
  src: url("~assets/fonts/William/VTCWilliam-Regular.woff") format("woff"),
       url("~assets/fonts/William/VTCWilliam-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VTC William";
  src: url("~assets/fonts/William/VTCWilliam-Bold.woff") format("woff"),
  url("~assets/fonts/William/VTCWilliam-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VTC William";
  src: url("~assets/fonts/William/VTCWilliam-BoldItalic.woff") format("woff"),
  url("~assets/fonts/William/VTCWilliam-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "VTC William";
  src: url("~assets/fonts/William/VTCWilliam-Italic.woff") format("woff"),
  url("~assets/fonts/William/VTCWilliam-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
